---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: OAI-SearchBot
Allow: /

User-agent: GPTBot
Allow: /

User-agent: *
Allow: /

Sitemap: {{ site.siteUrl | default("https://example.com") }}/sitemap.xml
